@import url(./common2.css);


.mid {
    background: lightgrey;
overflow: hidden;
display: block;
}

.mid .product {
    /* background: lightcyan; */
    line-height: 2;
    text-align: center;
}
.mid .product h1 {
font-size: 4em;
font-weight: bold;
}
.mid .product h1::after {
    content: '';
    display: block;
    width: 30px;
    height: 5px;
    margin: 0 auto 10px;
    background: red;

}
.mid .product p {
    font-size: 1.2em;
}
.mid .product .box {
display: flex;
justify-content: center;
margin: 30px 0;
}
.mid .product a {
    font-size: 1.2em;
    border: 1px solid gray;
    display: flex;
    width: 10%;
    align-items: center;
    justify-content: center;
    margin-right: 2px;
    padding: 5px auto;
}
.mid .product a:hover {
    color: red;
    border: 2px solid red;
}
.mid .product a:nth-child(4) {
    margin-right: 0;
}
.mid .middle {
    background: lightcoral;
    display: flex;
    width: 5000px;
}
.mid .middle .wrap {
width: 100%;
overflow: hidden;
display: block;
height: 500px;
}
.mid .middle li {
<<<<<<< HEAD
    display: flex;
    position: absolute;
    bottom: 10px;
    width: 50%;
    flex-wrap: wrap;
    background: red;
}
=======
>>>>>>> b5d297f5c7f0bec84eee13e7bdfec888bacfebb9


}
.mid .middle li img {
    height: 450px;
    

}
.mid .middle li p {
    background: white;
    width: 100%;
}


.mid .drag {
    /* background: lightgreen; */
    text-align: center;
    border-top: 1px solid black;
    margin-top: 50px;
}
.mid .drag .scroll {
    margin: 30px 0;
}



.movie {
    width: 100%; 
margin: 0 auto;


}
.movie video {
    width: 100%;
}


.bottom ul li {
    margin-left: 30px;
}
.bottom ul li h1 {
    font-size: 1.3em;
    
}
.bottom ul li h1::after {
    content: '';
    background: red;
    width: 30px;
    height: 4px;
}

.bottom ul li p {
    text-align: right;
}