@import url(./common.css);

body {
  width: 100%;
  font-family: "Noto Sans KR", "돋움", dotum, sans-serif;
}

.wrap .button {
  position:fixed;
  width: 220px;
  height: 220px;
  top: 200px;
  right: 20px;
  background: black;
  border-radius: 50%;
  z-index: 9999;
}
.button .font{
  font-family: 'KCC-eunyoung';
  font-size: 55px;
  position: relative;
  left: -3px;
}

.button #txt{
  position: relative;
  font-size: 35px;
  top: 60px;
  left: 20px;
  color: #fff;
}
.button #txt span{
  padding-left: 30px;
}
.head .lang span{
  padding-left: 25px;
  padding-top: 9px;
}

.button .button-txt {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  width: 140px;
  height: 40px;
  border-radius: 30px;
  bottom: -70px;
  right: -40px;
  color:black;
  background: #fff;
}
.button .button-txt .lnr-pencil{
  position: relative;
  left: -25px;
  margin-left: 10px;
  margin-top:10px;
}
.button .button-txt .lnr-cross{
 color:white;
 font-weight: bold;
 position: absolute;
 top: 50px;
 right: 60px;
 cursor: pointer;
}

.button .button-txt p{
  position: relative;
  right: 20px;
  top: 10px;
  font-weight: bold;
}
.head {
  position: fixed;
  width: 100%;
  height: 170px;
  background: #fff;
  z-index: 9999;
}

.menu-open .burger {
  margin-left: 20px;
}

header .link {
  display: flex;
  margin: 15px;
  height: 50px;
  border-bottom: 1px solid #d4d0d0;
  justify-content: space-between;
}
header .link .lang-after:active{
  opacity: 1;
  animation: lang 0.3s linear; 
  animation-fill-mode: both;
}
@keyframes lang {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(70%);
  }
}
header .link .lang-after{
  position: absolute;
  opacity: 0;
  transition: 0.3s;
  border-bottom: 1px solid #999;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  border-radius: 10px;
  top: 0;
  width:80px;
  height: 30px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  background: #fff;
}
header .link .lang {
  border: 1px solid #999;
  border-radius: 10px;
  width: 80px;
  height: 30px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  position: relative;
}
header .link .lang img{
  position: absolute;
  top: 7px;
  left: 4px;
  width: 20px;
}

header .link .lang p {
  text-align: center;
  font-weight: bold;
  padding-top: 8px;
  padding-left: 4px;
  font-size: 13px;
}
header .link .lang span{
  position: absolute;
  top:-3px;
  left: 30px;
}

header .link .top {
  position: absolute;
  left: 100px;
  display: flex;
  padding-left: 10px;
}

header .link .top .insta {
  position: relative;
  left: 5px;
}

header .link nav {
  font-size: 12px;
  width: 250px;
  color: #999;
}

header .link nav ul {
  display: flex;
  justify-content: space-around;
}

#top {
  border-right: 1px solid #999;
  display: block;
  padding: 0 auto;
  width: 70px;
  position: relative;
  left: -10px;
}

header .link nav ul li p {
  display: block;
  text-align: center;
  margin-top: 10px;
  margin-right: 5px;
}

header .head .container {
  font-size: 15px;
  display: flex;
  padding-right: 100px;
  justify-content: space-evenly;
}

header .head .container .introduction {
  display: flex;
  font-size: 18px;
  height: 100px;
  width: 1500px;
  justify-content: space-between;
  padding-top: 30px;
  position: relative;
  left: 30px;
  top: -12px;
}
header .head .container .introduction a{
  width: 200px;
}
header .head .container .introduction a li{
  position: relative;
  left: -40px;
}

header .head .container .introduction ul {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 40px;
  margin-top: 30px;
  align-items: center;
  width: 100%;
}

#intro:hover {
  color: rgb(226, 86, 86);
}

@keyframes intro {
  0% {
    top: -100%;
  }

  50% {
    top: 50%;
  }

  100% {
    top: 0%;
  }
}

#intro:hover ul li {
  animation: intro;
  opacity: 1;
  transition: 2s;
}

header .head .container .introduction ul li {
  border-bottom: 1px solid #ddd8d8;
  color: #000;
  display: inline-block;
  background: rgba(236, 231, 231, 0.3);
  width: 100%;
  text-align: center;
  opacity: 0;
}

/* end head */
.img {
  padding-top: 170px;
}

section {
  position: relative;
  width: 1400px;
  margin: 0 auto;
  flex-flow: row wrap;
  position: relative;
}

section .arrival {
  padding: 0 auto;
  display: flex;
  width: 1400px;
  height: 800px;
  flex-flow: row wrap;
  position: relative;
}

section .arrival h2 {
  width: 300px;
  display: block;
  line-height: 30px;
  padding: 20px;
  align-content: center;
  font-size: 30px;
  font-weight: bold;
}

section .arrival p {
  font-size: 13px;
  padding-bottom: 40px;
  padding-left: 20px;
  color: #999;
}

section .arrival .monami {
  position: relative;
  width: 1400px;
  height: 900px;
  position: absolute;
  top: 100px;
  display: flex;
  flex-wrap: wrap;
}

section .arrival .monami a {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

}

section .arrival .monami a span {
  font-size: 15px;
}

section .arrival .monami a h2 {
  font-size: 22px;
}

section .arrival .monami .pen a {
  position: relative;
  top: -30px;
  left: 40px;
}

section .arrival .monami .pen a span {
  padding-left: 90px;
}

section .arrival .monami .pen a h2 {
  padding-left: 50px;
  padding-top: 10px;
}

section .arrival .monami .back1 {
  margin-top: 20px;
  margin-left: 40px;
  width: 80%;
  height: 80%;

  background: rgba(228, 30, 30, 1);
  position: absolute;
  transition: 0.7s;
  top: 0;
  opacity: 0;
}

section .arrival .monami .back2 {
  margin-top: 20px;
  margin-left: 40px;
  width: 90%;
  height: 90%;

  text-align: center;
  background: rgba(228, 30, 30, 1);
  position: absolute;
  transition: 0.7s;
  top: 0;
  opacity: 0;
}

section .arrival .monami .back3 {
  margin-top: 20px;
  margin-left: 15px;
  width: 90%;
  height: 80%;

  text-align: center;

  background: rgba(228, 30, 30, 1);
  position: absolute;
  transition: 0.7s;
  top: 0;
  opacity: 0;
}

section .arrival .monami .back4 {
  margin: 13px;
  width: 95%;
  height: 95%;

  text-align: center;
  background: rgba(228, 30, 30, 1);
  position: absolute;
  transition: 0.7s;
  top: 0;
  opacity: 0;
}

section .arrival .monami .back5 {
  margin-top: 13px;
  margin-left: 8px;
  width: 95%;
  height: 90%;

  text-align: center;
  background: rgba(228, 30, 30, 1);
  position: absolute;
  transition: 0.7s;
  top: 0;
  opacity: 0;
}

section .arrival .monami li:first-child {
  position: absolute;
  top: 75px;
}

section .arrival .monami li:nth-child(2) {
  position: absolute;
  top: -80px;
  left: 420px;
}

section .arrival .monami li:nth-child(3) {
  position: absolute;
  top: 310px;
}

section .arrival .monami li:nth-child(4) {
  position: absolute;
  top: 310px;
  left: 420px;
}

section .arrival .monami li:nth-child(5) {
  position: absolute;
  top: 310px;
  left: 900px;
}

section .arrival .monami ul {
  display: block;
  position: absolute;
  width: 500px;
  height: 400px;
}

section .arrival .monami li ul:hover {
  opacity: 1;
  translate: 0.6s;
}



.cross-box {
  position: relative;
  width: 30px;
  height: 30px;
  background: rgba(228, 30, 30, 1);
  transform-origin: center;
  animation: rotateCross 3s infinite linear;

  left: 45%;
}

.back1 .cross-box {
  position: relative;
  width: 30px;
  height: 30px;
  background: rgba(228, 30, 30, 1);
  transform-origin: center;
  animation: rotateCross 3s infinite linear;
  bottom: 15px;
  left: 35%;
}


.cross-line {
  position: absolute;
  background-color: #fff;
}

.horizontal {
  width: 30px;
  height: 1px;
  top: 50%;
  left: 0;
  transform-origin: center;
}

.vertical {
  width: 1px;
  height: 30px;
  top: 0px;
  left: 50%;
  transform-origin: center;
}

@keyframes rotateCross {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


body .wrap {
  margin-bottom: 150px;
}


/* ---------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------- */

.mid {
  width: 100%;
background: rgb(241, 240, 240);
overflow: hidden;
display: block;
}

.mid .product {
/* background: lightcyan; */
line-height: 2;
text-align: center;
}

.mid .product h1 {
font-size: 4em;
font-weight: bold;
}

.mid .product h1::after {
content: '';
display: block;
width: 30px;
height: 5px;
margin: 0 auto 10px;
background: rgb(192, 1, 1);

}

.mid .product p {
font-size: 1.2em;
}

.mid .product .box {
display: flex;
justify-content: center;
margin: 30px 0;
}


.mid .product a {
font-size: 1.2em;
border: 1px solid gray;
display: flex;
width: 10%;
align-items: center;
justify-content: center;
margin-right: 2px;
padding: 5px auto;
transition: 0.3s;
}

.mid .product a:hover {
color: rgb(192, 1, 1);
border: 1px solid rgb(192, 1, 1);
transition: 0.3s;
}

.mid .product a:nth-child(4) {
margin-right: 0;
}

/* ----------------------------------------------------------------------- */


.mid .middle {
/* background: lightcoral; */
overflow: hidden;


}

.mid .middle .wrap {
overflow: hidden;
margin: auto;
text-align: center;

}

.mid .middle .wrap li {
float: left;
margin: 0 4px;
height: 350px;
width: 215px;
overflow: hidden;
background: white;
margin-left: 5px;


}

.mid .middle .wrap li:first-child {
margin-left: 30px;
}

.mid .middle .wrap li img {
width: 200px;
height: 300px;
overflow: hidden;

}

.mid .middle .wrap li a p {
overflow: hidden;
background: white;
padding: 0 30px 0;
text-align: left;
}

.mid .middle .wrap li a .fn {
margin: 0 0 5px;
font-size: 12px;
color: gray;
}

.mid .middle .wrap li a .mn {
font-size: 14px;
}

.mid .middle li a {
cursor: pointer;

}


.mid .middle li p {
background: white;
}


.mid .drag {
/* background: lightgreen; */
width: 100%;
border-top: 1px dotted gray;
margin-top: 50px;
}


.mid .drag .pointer {
width: 800px;
position: relative;
margin: 0 auto;
}

.mid .drag .pointer .img11 {
position: absolute;
left: 0;
top: -10px;
width: 50px;
height: 50px;
}

.mid .drag .pointer .img12 {
position: absolute;
right: 0;
top: -10px;
width: 50px;
height: 50px;
}

.mid .drag .img13 {
margin: 0 auto;
width: 150px;
margin-top: -10px;
text-align: center;
background: rgb(241, 240, 240);
}

.mid .drag .img13 p {
margin: 50px 0;
}

/* ------------------------------------------------------------ */

.movie {
width: 100%;
background-attachment: fixed;
}

.bottom {
width: 70%;
border-bottom: 1px solid rgb(245, 245, 245);
height: 330px;
background: rgb(245, 245, 245);
margin: 0 auto;
}

.bottom .news {
float: left;
width: 50%;
height: 330px;
border-right: 1px solid lightgray;
border-bottom: 1px solid lightgray;
}

.bottom .news ul li:first-child {
position: relative;
margin-bottom: 15px;
margin-top: 20px;
}

.bottom .news ul li h1 {
font-size: 1.5em;
}

.bottom .news ul li a {
position: absolute;
right: 0;
top: 0;
text-decoration: underline;
font-size: 0.9em;
margin-right: 20px;
}

.bottom .news ul li:first-child::after {
content: '';
background: rgb(192, 1, 1);
width: 40px;
height: 3px;
margin: 5px 0 0;
position: absolute;
left: 0;
}

.bottom .news .list {
position: relative;
height: 130px;
border-bottom: 1px solid lightgrey;
}


.bottom .news .list .fl {
float: left;
}

.bottom .news .list .txt {
float: left;
margin-left: 30px;
width: 400px;
line-height: 1.3;
}

.bottom .news .list .txt h2 {
font-size: 1.4em;
}

.bottom .news .list .txt p {
font-size: 15px;
color: gray;
}

.bottom .news .list .txt .date {
position: absolute;
font-size: 16px;
bottom: 20px;
right: 20px;
}
.bottom .news .ml {
  margin-top: 20px;
}
.bottom .news .ml .bl {
position: relative;
line-height: 1.5;
font-size: 15px;
margin-top: 3px;
}

.bottom .news .ml p {
line-height: 1.5;

}

.bottom .news .ml .date {
position: absolute;
right: 0;
top: 0;
color: gray;
font-size: 15px;
margin-right: 20px;
}

.bottom .wrap {
width: 100%;
margin: 0 100px;
height: 300px;
margin: 0 auto;
}

.bottom .qna {
float: left;
width: 25%;
height: 330px;
background-image: url(./imgs/캡처.PNG);
box-sizing: border-box;
border-bottom: 1px solid lightgray;
text-align: center;
}

.bottom .qna h2 {
margin: 65px 0 0;
padding-top: 65px;
font-size: 1.3em;
}

.bottom .qna h2::after {
content: '';
background-color: rgb(192, 1, 1);
width: 30px;
height: 4px;
display: block;
margin: 5px auto;
}

.bottom .qna p {
font-size: 12px;
line-height: 1.5;
margin-bottom: 30px;
}

.bottom .qna a {
display: block;
border: 1px solid red;
line-height: 35px;
margin: 0 auto;
width: 160px;
height: 35px;
transition: 0.6s;
}

.bottom .qna a:hover {
color: white;
background: rgb(192, 1, 1);
transition: 0.6s;
}

.bottom .shop {
float: left;
width: 25%;
height: 330px;
background-image: url(./imgs/캡처2.PNG);
box-sizing: border-box;
border-bottom: 1px solid lightgray;
text-align: center;
border-right: 1px solid lightgray;
}

.link {
width: 100%;
height: 150px;
background-color: #fff;

}
.link .link2 {
width: 80%;
background-color: #fff;
height: 150px;
padding: 45px 0;
width: 1400px;
margin: 0 auto;



}

.link .link2 li {
width: 20%;
height: 80px;
float: left;
border: 1px solid black;
overflow: hidden;
transition: 0.5s;
margin-left: 60px;
  position: relative;
}


.link .link2 li:hover {
border: 1px solid rgb(192, 1, 1);
transition: 0.5s;
}


.link .link2 li img {
width: 100%;
height: 80px;





}


/* footer */
.footer {
  position: relative;
  background: #111;
  padding: 60px 0 65px;
}

.footer {
  color: white;
}

.foot {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.foot:after {
  display: block;
  content: "";
  clear: both;
}

.foot_top {
  width: 100%;
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.foot_top:after {
  display: block;
  content: "";
  clear: both;
}

.foot_top h1 {
  float: left;
}

.foot_top .fm {
  overflow: hidden;
  float: right;
}

.foot_top .fm li {
  float: left;
  padding-right: 11px;
  margin-right: 10px;

}

.foot_top .fm li:last-child {
  margin: 0;
  padding: 0;
  background: 0;
}

.foot_top .fm li a {
  color: rgba(255, 255, 255, 0.5);
}

.foot_btm {
  width: 100%;
  padding-top: 25px;
  position: relative;
}

.foot_btm:after {
  display: block;
  content: "";
  clear: both;
}

.foot_btm .tit {
  font-size: 15px;
  color: #fff;
  margin-bottom: 10px;
}
.foot_btm .info {
    width: 45%;
    float: left;
    display: inline;
    font-weight: bold;}

.foot_btm .info address {
  display: flex;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 300;
  align-items: center;
line-height: 1.5;
}

.foot_btm .info address span {
text-align: center;
padding: 0px 5px;


}

.foot_btm .info .copy {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.3);
  font-weight: 300;
}

.foot_btm .cc {
  float: left;
  padding: 0 10px;
}

.foot_btm .cc_tel {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.5);
}


.foot_btm .fam_site {
  display: block;
  padding: 0 13px;
  height: 34px;
  line-height: 34px;
  font-size: 13px;
  width: 250px;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
 position: absolute;
  float: right;
  border:1px solid gray;
  right: 0px;
  top: 15px;
}

.foot_btm .fam_site a .fa-solid {
  color: rgba(255, 255, 255, 0.5);
  float: right;
  margin-top: 10px;

}
.foot_btm .fam_site ul {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column-reverse;
  position: absolute;
  bottom: 34px;
  background-color: black;
  left: 0px;
  text-align: left;
  opacity: 0;
}
.foot_btm .fam_site ul:hover {
  opacity: 1;
}
.foot_btm .fam_site ul li {
  height: 34px;
  width: 100%;
  margin-left: 5px;

}