@import url(./common.css);

body {
  width: 100%;
  font-family: "Noto Sans KR", "돋움", dotum, sans-serif;
}

.button {
  position: fixed;
  width: 220px;
  height: 220px;
  top: 200px;
  right: 20px;
  background: black;
  border-radius: 50%;
}
.button #txt{
  position: relative;
  font-size: 35px;
  top: 60px;
  left: 50px;
  color: #fff;
}
.button .button-txt {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  width: 140px;
  height: 40px;
  border-radius: 30px;
  bottom: -110px;
  right: -40px;
  color:black;
  background: #fff;
}
.button .button-txt p,span{
  margin-left: 30px;
  margin-top:10px;
}
.button .button-txt .cross{
 color:white;
 position: relative;
}
.button .button-txt p{
  position: relative;
  right: 20px;
}
.head {
  position: fixed;
  width: 100%;
  height: 170px;
  background: #fff;
  z-index: 9999;
}

.menu-open .burger {
  margin-left: 20px;
}

header .link {
  display: flex;
  margin: 15px;
  height: 50px;
  border-bottom: 1px solid #d4d0d0;
  justify-content: space-between;
}

header .link .lang {
  border: 1px solid #999;
  border-radius: 10px;
  width: 80px;
  height: 30px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

header .link .lang p {
  text-align: center;
  padding-top: 7px;
  font-size: 13px;
}

header .link .top {
  position: absolute;
  left: 100px;
  display: flex;
  padding-left: 10px;
}

header .link .top .insta {
  position: relative;
  left: 5px;
}

header .link nav {
  font-size: 12px;
  width: 250px;
  color: #999;
}

header .link nav ul {
  display: flex;
  justify-content: space-around;
}

#top {
  border-right: 1px solid #999;
  display: block;
  padding: 0 auto;
  width: 70px;
}

header .link nav ul li p {
  display: block;
  text-align: center;
  margin-top: 10px;
  margin-right: 5px;
}

header .head .container {
  font-size: 15px;
  display: flex;
  padding-right: 100px;
  justify-content: space-evenly;
}

header .head .container .introduction {
  display: flex;
  font-size: 18px;
  height: 100px;
  width: 1000px;
  justify-content: space-between;
  padding-top: 30px;
  position: relative;
  left: 30px;
}

header .head .container .introduction ul {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 40px;
  margin-top: 30px;
  align-items: center;
  width: 100%;
}

#intro:hover {
  color: rgb(226, 86, 86);
}

@keyframes intro {
  0% {
    top: -100%;
  }

  50% {
    top: 50%;
  }

  100% {
    top: 0%;
  }
}

#intro:hover ul li {
  animation: intro;
  opacity: 1;
  transition: 2s;
}

header .head .container .introduction ul li {
  border-bottom: 1px solid #ddd8d8;
  color: #000;
  display: inline-block;
  background: rgba(236, 231, 231, 0.2);
  width: 100%;
  text-align: center;
  opacity: 0;
}

/* end head */
.img {
  padding-top: 170px;
}

section {
  position: relative;
  width: 1400px;
  margin: 0 auto;
  flex-flow: row wrap;
  position: relative;
}

section .arrival {
  padding: 0 auto;
  display: flex;
  width: 1400px;
  height: 800px;
  flex-flow: row wrap;
  position: relative;
}

section .arrival h2 {
  width: 300px;
  display: block;
  line-height: 30px;
  padding: 20px;
  align-content: center;
  font-size: 30px;
  font-weight: bold;
}

section .arrival p {
  font-size: 13px;
  padding-bottom: 40px;
  padding-left: 20px;
  color: #999;
}

section .arrival .monami {
  position: relative;
  width: 1400px;
  height: 900px;
  position: absolute;
  top: 100px;
  display: flex;
  flex-wrap: wrap;
}

section .arrival .monami a {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

}

section .arrival .monami a span {
  font-size: 15px;
}

section .arrival .monami a h2 {
  font-size: 22px;
}

section .arrival .monami .pen a {
  position: relative;
  top: -30px;
  left: 40px;
}

section .arrival .monami .pen a span {
  padding-left: 90px;
}

section .arrival .monami .pen a h2 {
  padding-left: 50px;
  padding-top: 10px;
}

section .arrival .monami .back1 {
  margin-top: 20px;
  margin-left: 40px;
  width: 80%;
  height: 80%;

  background: rgba(228, 30, 30, 1);
  position: absolute;
  transition: 0.7s;
  top: 0;
  opacity: 0;
}

section .arrival .monami .back2 {
  margin-top: 20px;
  margin-left: 40px;
  width: 90%;
  height: 90%;

  text-align: center;
  background: rgba(228, 30, 30, 1);
  position: absolute;
  transition: 0.7s;
  top: 0;
  opacity: 0;
}

section .arrival .monami .back3 {
  margin-top: 20px;
  margin-left: 15px;
  width: 90%;
  height: 80%;

  text-align: center;

  background: rgba(228, 30, 30, 1);
  position: absolute;
  transition: 0.7s;
  top: 0;
  opacity: 0;
}

section .arrival .monami .back4 {
  margin-top: 10px;
  margin-left: 13px;
  width: 95%;
  height: 95%;

  text-align: center;
  background: rgba(228, 30, 30, 1);
  position: absolute;
  transition: 0.7s;
  top: 0;
  opacity: 0;
}

section .arrival .monami .back5 {
  margin-top: 13px;
  margin-left: 8px;
  width: 95%;
  height: 90%;

  text-align: center;
  background: rgba(228, 30, 30, 1);
  position: absolute;
  transition: 0.7s;
  top: 0;
  opacity: 0;
}

section .arrival .monami li:first-child {
  position: absolute;
  top: 75px;
}

section .arrival .monami li:nth-child(2) {
  position: absolute;
  top: -80px;
  left: 420px;
}

section .arrival .monami li:nth-child(3) {
  position: absolute;
  top: 310px;
}

section .arrival .monami li:nth-child(4) {
  position: absolute;
  top: 310px;
  left: 420px;
}

section .arrival .monami li:nth-child(5) {
  position: absolute;
  top: 310px;
  left: 900px;
}

section .arrival .monami ul {
  display: block;
  position: absolute;
  width: 500px;
  height: 400px;
}

section .arrival .monami li ul:hover {
  opacity: 1;
  translate: 0.6s;
}



.cross-box {
  position: relative;
  width: 30px;
  height: 30px;
  background: rgba(228, 30, 30, 1);
  transform-origin: center;
  animation: rotateCross 3s infinite linear;

  left: 45%;
}

.back1 .cross-box {
  position: relative;
  width: 30px;
  height: 30px;
  background: rgba(228, 30, 30, 1);
  transform-origin: center;
  animation: rotateCross 3s infinite linear;
  bottom: 15px;
  left: 35%;
}


.cross-line {
  position: absolute;
  background-color: #fff;
}

.horizontal {
  width: 30px;
  height: 1px;
  top: 50%;
  left: 0;
  transform-origin: center;
}

.vertical {
  width: 1px;
  height: 30px;
  top: 0px;
  left: 50%;
  transform-origin: center;
}

@keyframes rotateCross {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}